.main {
    padding: 0.5rem;
    max-width: 30rem;
    margin: auto;
}

.article {
    margin-top: 3rem;
}

.header {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--secondary-color);
    margin-bottom: 3rem;
}

.updatedAt {
    font-weight: bold;
}