.article {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: 0.8rem;
    background: #dfe2d7;
    border-radius: var(--radius);
}

.title {
    margin: 0 0 1rem 0;
}

.content {
    max-height: 8.5rem;
    overflow: hidden;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--secondary-color);
    margin-top: 2rem;
}